.card.darken-1.review_card
  .card-content.black-text{style: "height:80%"}
    .center.small-text
      = recipe_review.created_date
    .center
      = render partial: "recipe_reviews/five_star", locals: {recipe_review: recipe_review}
    %span.card-title.center-align
      = recipe_review.user.name + " said:"
    %blockquote.left-align
      = recipe_review.comment

  .card-action