.card.light-green.lighten-1.recipe_card.steep_card
  .card-content.white-text{style: "height:80%"}
    %span.card-title.center-align
      %b.steep_instruction_title.light-text-70
        PREPERATION NOTES

    .divider

    .row.center.light-text-60
      = @Recipe.preperation_notes
    .divider
