.row.row-eq-height
  .col.s10
    %h1 Recipes
  .col.s2.valign-wrapper.center
    %a.btn.btn-large.waves-effect.waves-light.light-green.lighten-4.black-text{ href: new_recipe_path }
      %i.material-icons add

.center.scrollable
  - @recipes.in_groups_of(2, false).each do |group|
    .row.row-eq-height
      - group.each do |recipe|
        .col.s6
          %a{:href => recipe_path(recipe.id)}
            = render partial: 'list_card', locals: {recipe: recipe.decorate}