.card.darken-1{style: "height:100%"}
  .card-content.black-text.center{style: "height:80%"}
    %img.ingredient-img{:src => ingredient.img.url(:medium)}

    %span.card-title
      = ingredient.name
    %p
      = ingredient.description
  .card-action