%h1 Ingredients

.center
  - @ingredients.in_groups_of(4, false).each do |group|
    .row
      - group.each do |ingredient|
        .col.s3
          = render partial: 'list_card', locals: {ingredient: ingredient.decorate}
%br

= link_to 'New Ingredient', new_ingredient_path
