.row.row-eq-height
  .col.s10
    %h1 Ingredients
  .col.s2.valign-wrapper.center
    %a.btn.btn-large.waves-effect.waves-light.light-green.lighten-4.black-text{ href: new_ingredient_path }
      %i.material-icons add

.center.scrollable
  - @ingredients.in_groups_of(4, false).each do |group|
    .row.row-eq-height
      - group.each do |ingredient|
        .col.s3
          %a{:href => ingredient_path(ingredient.id)}
            = render partial: 'list_card', locals: {ingredient: ingredient.decorate}
%br

