:javascript
  $(function() {
    /*
    $('#hello_text').css('opacity', '0');
    $('#remaining_text').css('opacity', '0');
    $('#first_col').css('opacity', '0');
    $('#second_col').css('opacity', '0');
    $('#third_col').css('opacity', '0');
    $('#hello_text').delay( 400 ).animate({opacity: '1'}, {duration: 1200});
    $('#remaining_text').delay( 1000 ).animate({opacity: '1'}, {duration: 1200});
    $('#first_col').delay( 2000 ).animate({opacity: '1'}, {duration: 500});
    $('#second_col').delay( 2500 ).animate({opacity: '1'}, {duration: 500});
    $('#third_col').delay( 3000 ).animate({opacity: '1'}, {duration: 500});
    */
  });

= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track' => true

.input-field
  %input#search{:required => "", :type => "search"}/
  %label.label-icon{:for => "search"}
    %i.material-icons search
  %i.material-icons close

%h1.center.white-text
  /%span#hello_text Hello.
  %span#remaining_text We Love Tea.
.row.white-text
  .col.s4#first_col.center
    %h4
      Popular
  .col.s4#second_col.center
    %h4
      Recipe of the Day
    %a{:href => recipe_path(@recipe)}
      = render partial: 'recipes/list_card', locals: {recipe: @recipe}
  .col.s4#third_col.center
    %h4
      Something
