:javascript
  $(function() {
    /*
    $('#hello_text').css('opacity', '0');
    $('#remaining_text').css('opacity', '0');
    $('#first_col').css('opacity', '0');
    $('#second_col').css('opacity', '0');
    $('#third_col').css('opacity', '0');
    $('#hello_text').delay( 400 ).animate({opacity: '1'}, {duration: 1200});
    $('#remaining_text').delay( 1000 ).animate({opacity: '1'}, {duration: 1200});
    $('#first_col').delay( 2000 ).animate({opacity: '1'}, {duration: 500});
    $('#second_col').delay( 2500 ).animate({opacity: '1'}, {duration: 500});
    $('#third_col').delay( 3000 ).animate({opacity: '1'}, {duration: 500});
    */
  });

= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track' => true

= render partial: 'recipes/recipe_search'

%h1.center.white-text#title_text
  /%span#hello_text Hello.
  %span#remaining_text.cursive Herbal Tea made fun and simple.
.row.white-text.light-text-90#columns
  .col.s4#first_col.center
    %i.fa.fa-coffee.fa-3x.light-green-text
    %h4
      Find Recipes
    %p.left
      With TeaMaster you can browse community submitted recipes, and learn what recipes you can make with ingredients you have.
  .col.s4#second_col.center
    %i.fa.fa-book.fa-3x.light-green-text
    %h4
      Recipe of the Day
    -if @recipe
      %a{:href => recipe_path(@recipe)}
        #recipe_of_the_day
          = render partial: 'recipes/list_card', locals: {recipe: @recipe}
  .col.s4#third_col.center
    %i.fa.fa-comments.fa-3x.light-green-text
    %h4
      Share Recipes
    %p.left
      We make it easy to submit your own mixes. Get feedback on your special blends.

- if @post
  .row.white-text.light-text-90#columns
    %h4.center
      Latest from the TeaMaster team.
    #latest_blog_post
      = render partial: 'posts/list_card', locals: {post: @post}

