.col-sm-11.col-xs-12.blog-content
  %h2.text-center= @post.title
  %h5.text-center= @post.created_at.strftime('%b %d, %Y')
  %h6.text-center
    = link_to @post.user.name, user_path(@post.user.id)
  %div= raw @post.body
