/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "font-awesome";
@import "materialize/components/color";
//@import "materialize/components/font/roboto/";
$primary-color: color("light-green", "base") !default;
$secondary-color: color("light-green", "lighten-1") !default;
$tabs-underline-color: color("light-green", "base")!default;
$tabs-text-color: color("light-green", "base")!default;
$roboto-font-path: '/assets/fonts/roboto/';
@import "materialize";


.card {
  background-color: light-green
}

#body-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-link {
  font-size: 2rem
}

.scrollable {
  overflow: auto;
  max-height: 100vh;
  overflow-x:hidden;
}

.brand-logo{
  margin-left: 1%;
}

.light-text-80 {
  opacity: .8;
}
.light-text-70 {
  opacity: .7;
}
.light-text-60 {
  opacity: .6;
}
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.date-stamp {
  padding-top: 10px;
  font-size: .7rem;
  opacity: .6;
}

.big-text-input {
  min-height: 300px;
}

.small-text {
  font-size: .75rem;
}

blockquote {
  //background: #f9f9f9;
  //border-left: 10px solid #ccc;
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
