// Place all the styles related to the Ingredient controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ingredient-img {
  height: 100px;
  width: 100px;
}

.ingredient-img-big {
  height: 100%;
  width: 100%;
}