// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-size: cover;
  background-position: 50% 50%;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-image: url("/images/background-2.jpg");
  background-image:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    /* bottom, image */
    url("/images/background.jpg");
}

#recipe_of_the_day {
  opacity: 0.7 !important;
}